<h1>Books catalog</h1>

<% if Book.count > 0 %>
	<table>
	  <thead>
	    <tr>
	      <th>Title</th>
	      <th>Price</th>
	      <th>Publication year</th>
	      <th>Categories</th>
	      <th>Authors</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @books.each do |book| %>
	      <tr>
	        <td>
				<%= link_to '+', { :controller => 'cart', :action => 'add', :id => book }, :style =>'font-size: 16px;' %>
	        	<%= book.title %>
	       	</td>
	       	<td><%= sprintf("%.2f €", book.price) %></td>
	        <td><%= book.publication_year %></td>
	        <td><%= book.categories.join(', ') %></td>
	        <td><%= book.authors.join(', ') %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
<% else %>
	<p>No books founds yet.</p>
<% end %>